.forgot-password-page {
}

.password-reset-modal {
    .modal-content {
        color: white;
        background-color: $dark;
    }
    .modal-header {
        border-bottom-color: $dark-light;
    }
    .modal-footer {
        border-top-color: $dark-light;
    }

}