.register-card {
    border: none !important;

    .small-text {
        font-size: 80%;
    }
}
.register-card-warning-popover {
    .tooltip-inner {
        background-color: var(--danger);
    }
    .arrow::before {
        border-left-color: var(--danger) !important;
    }
}